// @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Italianno&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow-x:hidden ;
}
.header-nav{
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    background-color: rgb(4, 48, 48);
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .nav-logo{
            h2{
                color: whitesmoke;
                font-family: 'Architects Daughter', cursive;
            }
        }
        .nav-items{
            display: flex;
            padding: 10px;
            list-style-type: none;
            li{
                a{
                    text-decoration: none;
                    padding: 50px;
                    color: whitesmoke;
                }
            }
        }
    }
    .welcoming-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px ;
        row-gap: 20px;
        padding: 50px;
        color: white;
        small{
            font-size: xx-large;
        }
        img{
            width: 200px;
            border-radius:50% ;
            animation: rotation 5s infinite linear;
            @keyframes rotation {
                from{
                    transform: rotate(0deg);
                }
                to{
                    transform: rotate(359deg);
                }
            }
        }
        .btn{
            margin-top: 10px;
            background-color: transparent;
            padding: 10px;
            font-size: larger;
            border-radius:25px;
            color: white;
        }
    }
}
main{
    .about{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        // margin: 0 auto;
        padding: 40px;
        column-gap: 20px;
        margin: 0 auto;
        background-color: rgb(247, 246, 244);
        .image{
            // width: 400px;
            img{
                border-radius: 25px;
                object-fit: contain;
                width: 600px;
            }
        }
        .content{
            // width: 400px;
            h2{
                font-family: 'Times New Roman', Times, serif;
                font-size: xx-large;
            }
            p{
                font-size: xx-large;
            }
            .btn{
                padding: 10px;
                font-size: 20px;
                font-weight: 800;
                margin-top: 10px;
                background-color: white;
                border: none;
                box-shadow: 1px 12px 2px 1px white;
                border-radius: 25px;
            }
        }
    }
    .contact{
        display: flex;
        justify-content: space-between;
        // column-gap: 10px;
        // width: 1200;
        padding: 40px;
        align-items: center;
        margin: 0 auto;
        column-gap: 20px;
        .image{
            // width: 400px;
            img{
                border-radius: 25px;
                object-fit: contain;
                width: 600px;
            }
        }
        .contact-text{
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            align-items: center;
            // width: 400px;
            h2{
                font-family: 'Times New Roman', Times, serif;
                font-size: xx-large;
            }
            p{
                font-size: xx-large;
                text-align: center;
            }
            .links{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .upper{
                    display: flex;
                    padding: 20px;
                    justify-content: space-between;
                    column-gap: 30px;
                    .btn{
                        border: none;
                        background-color: none;
                        border-radius: 25px;
                        padding: 10px;
                        i{
                            // padding: 5px;
                            color: blue;
                        }
                    }
                }
                .lower{
                    display: flex;
                    padding: 20px;
                    justify-content: space-between;
                    column-gap: 30px;
                    .btn{
                        border: none;
                        background-color: none;
                        border-radius: 25px;
                        padding: 10px;
                        i{
                            // padding: 5px;
                            color: blue;
                        }
                    }
                }
            }
        }
    }
    .team{
        background-color: rgb(220, 241, 234);
        h2{
            text-align: center;
            padding: 20px;
        }
    }
    .card-section{
        display: flex;
        margin: 0 auto;
        padding: 40px;
        // background-color: rgb(220, 241, 234);
        .card{
            width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 300px;
            }
            .details{
                width: 300px;
                h2{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
               ul{
                   list-style-type: none;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                    li{
                        i{
                            padding: 20px;
                            font-size: xx-large;
                        }
                    }
               }
            }
        }
    }
    .contact-sec{
        display: flex;
        flex-direction:column;
        background-color: rgb(219, 213, 213);
        justify-content: center;
        align-items: center;
        padding: 50px;
        .text{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            align-items: center;
            padding: 20px;
        }
        .c-form{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            align-items: center;
            #input{
                border: none;
                padding: 10px;
                border-radius: 25px;
            }
            #button{
                border: 2px black solid;
                border-radius:25px ;
                background-color: transparent;
                padding: 10px;
                width: 100px;
                font-size: 15px;
                text-align: center;
            }
        }
    }
}
footer{
    padding: 20px;
    background-color:rgb(4, 48, 48);
    align-items: center;
    h2{
        color: white;
        text-align: center;
        font-weight: 100;
    } 
}